<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>
        <%- page_title() %>
    </title>
    <% if (theme.canonical === true) { %>
        <link rel="canonical" href="<%= full_url_for(page.path).replace('index.html', '') %>">
    <% } %>
    <%- css("css/grid.css") %>
    <%- css("css/custom.css") %>
    <%- css("css/ringo.css") %>
    <% if (theme.favicon) { %>
        <link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %> " />
    <% } %>
    <%- partial('head/site_verification') %>

    <link rel="stylesheet" href="[https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-300.css](https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-300.css)">
    <link rel="stylesheet" href="[https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-400.css](https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-400.css)">
    <link rel="stylesheet" href="[https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-500.css](https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-500.css)">
    <link rel="stylesheet" href="[https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-800.css](https://cdn.jsdelivr.net/npm/maple-mono-sc-nf@6.4.1/css/maple-mono-sc-nf-800.css)">
</head>